<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css", type='text/css')
        title Inventario actual
    body.bg
        .container.mt-3
            .row.justify-content-center.text-center
                h1.card.p-2.col Lista de productos en inventario
            .row.justify-content-center
                each item in items
                    .col-10.col-md-5.card.p-2.m-2
                        .card-title 
                            h4 ID de producto: 
                            span= item[0]
                        .card-title 
                            h4 Nombre de producto: 
                            span= item[1]
                        .card-title 
                            h4 Cantidad en inventario: 
                            span= item[2]
                        .card-body
                            a.btn.btn-success(href=`modificar/${item[0]}`) Adicionar/Vender Unds
                            a.btn.btn-danger(href=`eliminar/${item[0]}`) Eliminar
            .row.justify-content-center.text-center
                    a.col-6.mt-2.mb-2.btn.btn-secondary(href="/") Regresar