<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css", type='text/css')
        title Inventory-App
    body.bg
        .container.mt-3
            .row.justify-content-center.text-center
                h1.card.p-2 Gestión de inventario
            .row.justify-content-center.text-center.mt-5
                h2.card.col-10.col-md-5.my-auto.mr-2.p-2 Realizar consulta de productos
                a.btn.btn-info.col-10.col-md-4.my-auto.mr-2(href="consulta") Consulta
            .row.justify-content-center.text-center.mt-5
                h2.card.col-10.col-md-5.my-auto.mr-2.p-2 Realizar ingreso de producto
                a.btn.btn-dark.col-10.col-md-4.my-auto.mr-2(href="registro") Registro