<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/style.css", type='text/css')
        title= title
    body.bg
        .container.mt-3
            .row.justify-content-center.text-center
                h1.card.p-2.col Modificar unidades en inventario
            .row.justify-content-center
                form(action=`/modificar/${id}/action`, method="POST")
                    .row.card
                        .col
                            .form-group.mt-2
                                h3 Acción:
                                select.form-control(name="op")
                                    option(value="1") Adquirir
                                    option(value="2") Vender
                                h3.mt-1 Cantidad:
                                input.form-control(type="number", name="num", required)
                        .row.justify-content-center
                            input.col-10.btn.btn-primary.mb-2(type="submit", value="Realizar")
            .row.justify-content-center.text-center
                    a.col-6.mt-2.mb-2.btn.btn-secondary(href="/") Regresar