<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css", type='text/css')
        title Nuevo registro
    body.bg
        .container.mt-3
            .row.justify-content-center.text-center
                h1.card.p-2.col Registro de producto exitoso
            .card.p-3.mt-2
                .row
                    h2.col-6.my-auto Nombre de producto:
                    h3.col.my-auto #{name}
                hr
                .row
                    h2.col-6.my-auto ID del producto:
                    h3.col-3.my-auto #{ID}
                hr
                .row
                    h2.col-6.my-auto Cantidad registrada:
                    h3.col-3.my-auto #{quantity}
            .row.justify-content-center.text-center
                    a.col-6.mt-2.mb-2.btn.btn-secondary(href="/") Regresar