<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css", type='text/css')
        title Registro
    body.bg
        .container.mt-3
            .row.justify-content-center.text-center
                h1.card.p-2 Registro de producto al inventario
            form(action="nuevo", method="POST")
                // ID, name, quantity
                .row.card
                    .col-10
                        .form-group.mt-2
                            label(for="name")
                                b Nombre del producto:
                            input.form-control.col(type="text", name="name", id="name", maxlength=50, placeholder="Escriba un nombre...", required)
                            label.mt-1(for="ID")
                                b ID del producto:
                            input.form-control.col-3(type="text", name="ID", id="ID", minlength=3, maxlength=3, placeholder="001", required)
                            label.mt-1(for="quantity")
                                b Cantidad del producto:
                            input.form-control.col-3(type="number", name="quantity", id="quantity", min=1, max=100, required)
                .row.justify-content-center.text-center
                    input.col-6.mt-2.mb-2.btn.btn-primary(type="submit", value="Registrar")