.bg {
    background-image: url('../img/bg.png');
    position: relative;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-group {
    font-size: large;
}

#plate {
    text-transform: uppercase;
}

.form-text {
    /*color:#0069d9;*/
    font-size: 0.75rem;
}

.card {
    background-color: rgba(244, 253, 255, 0.85);
}

.pic {
    overflow: visible;
}

.btn {
    text-align: center;
}